body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    text-align: center;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

#task2 {
    margin: 20px 0;
    width: 350px;
}

.input {
    padding: 10px;
    margin: 10px 10px 0 0;
    width: 254px;
}

.input:invalid {
    border-color: red;
}

.input:valid {
    border-color: black;
}

.hidden {
    display: none;
}

.error {
    padding: 15px;
    color: white;
    background-color: red;
}

.success {
    padding: 15px;
    color: white;
    background-color: green;
}

.send {
    padding: 10px;
}

.court {
    position: relative;
    width: 600px;
    height: 330px;
    background: url('./assets/court.png') no-repeat;
    background-size: 100%;
}

.ball {
    position: absolute;
    left: 280px;
    top: 145px;
    width: 40px;
    height: 40px;
    background: url('./assets/ball.png') no-repeat;
    background-size: 100%;
}

.score {
    display: flex;
    justify-content: space-between;
}

