.title {
    text-align: center;
}

.searchType, .searchValue, #info {
    display: flex;
    justify-content: center;
}

.searchValue, .searchType {
    align-items: center;
}

select {
    width: 140px;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

table th {
    background-color: rgb(23, 133, 23);
    height: 40px;
    border: solid 1px black;
}

button {
    border: none;
    background-color: rgb(23, 133, 23);
    color: greenyellow;
}

.gray {
    background-color: gray;
}

table td {
    border: solid 1px black;
}

