﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}
header {
  background-image: url(../img/header-bg.jpg);
  min-height: 670px;
  background-size: cover;
  background-position: center;
  width: 80%;

}

footer {
  background-image: url(../img/footer-bg.jpg);
  min-height: 100px;
  background-size: cover;
  background-position: center;
}

.text-title {
  font-size: 72px;
  margin-top: 45px;
 
}

.text-text {
  font-size: 40px;
}

.btn1 {
  background-image: url(../img/touch-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.card-columns {
  column-gap: 50px;
}

.h3  {
  position: relative;
}

.h3::after {
  content: '';
  position: absolute;
  left: 47.5%;
  height: 1em;
  width: 5%;
  border-bottom: 3px solid;
  margin-top: 20px;
}

.text-service {
  font-weight: lighter;
}


.carousel-control {
  margin-top: 100%;
}

.carousel-image {
  background-image: url(./assets/img/references-image-bg.png);
  width: 175px;
  height: 255px;
}

.carousel-card-text {
  font-weight: lighter;
}

.carousel-indicators:nth-child(even) {
  list-style-type: disc;
}

.carousel-indicators:nth-child(odd) {
  list-style-type: circle;
}