@media print {
    .tm-sidebar, .boxes, .heading, section::before, .blocks, .slide, section:nth-child(6), .tm-content-box::before {
        display: none;
    }

    .tm-content-box {
        margin-bottom: 0;
    }

    .tm-banner {
        border: 0;
        padding: 30px;
    }

    p::first-letter {
        color: #3c5fa4;
    }

    .flex-item img {
        max-height: 300px;
    }

    .tm-team-description-container h2 {
        color: #2544ff;
    }

    .tm-footer {
        background-color: white;
    }
}



.box-bg:nth-child(odd):hover {
    background-color: #87cefa;
    cursor: grab;
}
.box-bg:nth-child(odd) > h2:hover {
    color: #fff;
    font-weight: bold;
}

p::first-letter {
    color: #87cefa;
    font-size: 30px;
}

.flex-2-col {
    display: flex;
    align-items: center;
}

.tm-sidebar, .tm-content-box {
    box-shadow: 0 0 10px #7d7d7d;
}

.tm-banner {
    border: 30px solid #f5f5f5;
    padding: 0;
}

section {
    position: relative;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid transparent;
    border-left: 250px solid #87cefa;
}


.carousel h2 {
    color: gainsboro;
    letter-spacing: 5px;
}

.tm-section-title + p {
    font-style: italic;
}

.tm-section-description {
    line-height: 2em;
    text-indent: 1.5em;
}

.heading h2 {
    color: #6acedf;
    text-align: center;
}

.heading a {
    color: #000000;
}

.heading a:visited {
    text-decoration: underline;
}

.heading a:hover {
    color: #59d7ce;
    text-decoration: underline double;
}

.text::after {
    content: "New";
    vertical-align: super;
    color: red;
    font-size: 13px;
}

.box-work:nth-child(even) {
    background-color: #f2f2f2;
}

.box-work p::first-letter {
    color: #000;
}

.box-work {
    padding: 10px;
}

.btn {
    float: right;
    background-color: #fff;
    color: #9fd8fb;
    border-color: #9fd8fb;
    border-radius: 0;
    width: 200px;
    height: 60px;
}

.btn:hover {
    background-color: #9fd8fb;
    color: #fff;
}

.mandatory-field:after {
    content: "*";
    color: red;
    font-weight: bold;
}

.tm-nav-item:hover {
    background-color: #e0e0e0;
}
