* {
    margin: 0;
    padding: 0;
}
body {
    padding: 10px;
}
.container {
    border: 1px solid gray;
    padding: 0 10px;
}
.form-field {
    display: flex;
    flex-direction: column;
}
.form-field label {
    padding: 10px 0;
}
.form-field input {
    padding: 10px;
    background-color: lightblue;
    border: none;
}
.buttons {
    padding: 10px 0;
}
.btn {
    padding: 10px 20px;
    background-color: rgb(98, 41, 4);
    color: white;
    border: none;
}
.btn:hover {
    background-color: rgb(36, 15, 2);
}
.hidden {
    display: none;
}