@mixin button_link($color) {
    background: $color;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 150px;
    height: 55px;
    cursor: pointer;
    &.header_button {
        margin-top: 50px;
    }
    &:hover {
        background-color: darken($color, 25%);
    }
    &:active {
        background-color: lighten($color, 25%);
        color: #2d5bd9;
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: map-get($colors, founder_box);
    color: map-get($colors, text);
}
.header {
    background-image: $founder_img;
    color: map-get($colors, text);
    height: 95vh;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 40% 0;
    &-wrap {
        font-family: $founder_fond;
        padding-left: 11%;
        display: flex;
        flex-direction: column;
    }
    &_heading {
        font-size: 80px;
        font-weight: bold;
        width: 50%;
        margin: 7% 50% 0% 0%;
        line-height: 1;
        position: relative;
        z-index: 1;
        font-family: 'Source Sans Pro', sans-serif;
        &::after {
            content: '';
            width: 338px;
            height: 55px;
            background-color: map-get($colors, marker);
            position: absolute;
            bottom: 1px;
            left: 0;
            z-index: -1;
        }
    }
    &_text {
        font-size: 20px;
        white-space: pre-line;
        width: 60%;
        margin: 50px 0 50px 0;
        line-height: 27px;
        font-family: $founder_fond;
    }
    &_button {
        @include button_link(map-get($colors, btn));
    }  
}
.login {
    margin-left: 12%;
    color:white;
    font-size:23px;
    font-family: 'Source Sans Pro', sans-serif;
}
.landing-logo {
    display: flex;
    font-family: $founder_fond;
    padding-top: 25px;
    p {
        margin: 0;
        padding-left: 10px;
        font-size: 28px;
        font-weight: bold;
        span {
           display: block;
           text-align: center;
           font-size: 13px;
           line-height: 5px;
        }
    }
    img {
        height: 55px;
        width: 55px;
    }
}
.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    &_text {
        text-align: center;
        color: map-get($colors, text);
        font-size: 50px;
        font-weight: bold;
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        &::after {
            content: '';
            width: 232px;
            height: 65px;
            background-color: map-get($colors, marker);
            position: absolute;
            bottom: 11px;
            left: 260px;
            z-index: -1;
        }
    }
    &_card {
        text-align: center;
        display: flex;
        position: static;
        width: 55%;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: map-get($colors, boxes);
        color: map-get($colors, text_box);
        font-family: $founder_fond;
        &_right_container {
            width: 60%;
            padding: 20px 100px;
            box-sizing: border-box;
        }
        &_img {
            width: 40%;
            border-radius: 5px;
        }
        &_heading {
            color: #fff;
            font-size: 28px;
            font-weight: bolder;
            font-family: 'Source Sans Pro', sans-serif;
            margin-bottom: 20px;
        }
        &_text {
           font-size: 18px;
            text-align: justify;
            line-height: 1.5;
            margin-bottom: 30px;
        }
    }
    &_link {
        color: map-get($colors, text_box);
        font-family: 'Source Sans Pro', sans-serif;
    }
    &_banner {
        background: linear-gradient(to right, map-get($colors, gradient_from ), map-get($colors, gradient_to));
        width: 63%;
        height: 155px;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 5px;
        display: flex;
        margin-bottom: 15px;
        position: relative;
        top: 90px;
        &_heading {
            color: map-get($colors, text);
            font-weight: bold; 
            font-size: 30px;
            font-family: 'Source Sans Pro', sans-serif;
            margin-left: 30%;
            width: 450px;
            position: relative;
            z-index: 1;
            &::after {
                content: '';
                width: 63px;
                height: 47px;
                background-color: map-get($colors, marker);
                position: absolute;
                bottom: 3px;
                left: 120px;
                z-index: -1;
            }
        }
        &_text {
            color: map-get($colors, text_box);
            margin-left: 30%;

        }
        &_button {
            @include button_link(map-get($colors, btn));
            margin: 55px 0 0 470px;
        }
    }
}
.footer {
    position: relative;
    z-index: -1;
    font-family: $founder_fond;
    &-wrap {
        background-color: map-get($colors, boxes);
        color: map-get($colors, text_box);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 90px 100px 45px 100px;
    }
    &_text {
        @extend .footer-cr;
        width: 380px;
        line-height: 1.5;
    }
    &-cr {
        font-size: 17px;
    }
}