$founder_fond: 'Fresca', sans-serif;
$founder_img: url(../img/m-h-night.jpg);
$colors: (
    founder_box: #21232e,
    marker: #ff4e33,
    btn: #e3ac00,
    boxes: #3b3f50,
    text_box: #c3ccd1,
    text: #ffffff,
    gradient_from: #dda207,
    gradient_to: #95314f,
);