* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    background: url("../img/apples.jpg") no-repeat center/cover;
    color: #ffffff;
    height: 98vh;
    width: 100%;

}

.banner {
    text-align: center;
}

.banner p {
    font-size: 20px;
    margin-top: 20px;
}

.banner-button {
    margin: 0 auto;
    display: flex;
}

header h1 {
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 68px;
    letter-spacing: 7px;
}

header h1 span {
    font-variant: normal;
    font-size: 100px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 55px 150px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

.header-wrapper:first-child a {
    letter-spacing: 3px;
}

.header-wrapper .nav-menu a {
    margin-left: 70px;
}

header .banner {
    text-align: center;
    padding: 210px 0;
}

.banner-button {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 22px 110px;
}

.left-right {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-text {
    color: #000000;
    width: 50%;
}

.left-text p {
    line-height: 140%;
    margin: 0 65px;
    font-size: 28px;
}

.right-text {
    color: #000000;
    width: 50%;
    display: flex;
    align-items: center; 
}

.right-text p {
    line-height: 150%;
    margin: 0 50px;
    font-size: 18px;
}

.bold-span {
    font-weight: bold;
}

.main {
    background-color: #f3f3f3
}

h3 {
    font-weight: normal;
    padding: 146px 0 20px 0;
    font-size: 24px;
}

main div .string {
    text-align: center;
    position: relative;
}

.string {
    font-size: 30px;
    margin-bottom: 50px;
}

.article-img1 {
    background: url("../img/sample.jpg") no-repeat top/cover;
    width: 60%;
    height: 375px;
    margin: 15px 0 0 50px;
    position: relative;
}

.article-img2 {
    background: url("../img/sample1.jpg") no-repeat top/cover;
    width: 60%;
    height: 375px;
    margin: 15px 50px 0 0;
    position: relative;
}

.article-item {
    display: flex;
    justify-content: space-between;
   
}

.article-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.article-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

.article-text div {
    text-align: center;
    padding: 10px 5% 0 5%;
}

.like-btn {
    border: 2px solid #fff;
    padding: 4px 8px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .5s ease-out;
}

.article-img1  p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #ffffff;
} 

.article-img2  p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #ffffff;
} 

.subscribe {
    padding: 56px 0;
    background-color: #f3f3f3
}

.subscribe_text span {
    color: #000000;
    font-weight: bold;
    margin-right: 25px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sub {
    background-color: #ffffff;
    text-align: center;
    color: #343638;
    font-size: 30px;
    padding: 4% 0;
    margin: 0 3%;
}

.subscribe_input {
    width: 55%;
    padding: 20px;
    background-color: #F3F3F3;
}

.subscribe-btn {
    padding: 20px;
    margin-left: -10px;
    color: #ffffff;
    background-color: #343638;
    border: 2px solid #343638;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 3% 70px 3%;
    border-bottom: 2px solid #f0f0f0;
}

.footer-wrapper p {
    font-size: 20px;
    color: #9e9e9e;
    margin-right: 5px;
} 

.footer-info {
    display: flex;
    width: 70%;
    line-height: 2em; 
    justify-content: space-around;
}

.info {
    width: 30%;   
}

.info span{
    font-size: 12px;
    color: #e8e8e8;   
}

.letter-form {
    width: 40%;
    padding: 14px 0;   
}

.newsletter-form p {
    width: 56%;
}

.subscribe-btn-foot {
    padding: 14px 22px;
    margin-left: -10px;
    color: #ffffff;
    background-color: #343638;
    border: 2px solid #343638;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.footer-nav p {
    color: #9E9E9E;
    margin: 0 16px;
    font-size: 16px;
}

.footer-nav a {
    color: #000;
    text-decoration: none;
    margin-left: 40px;
}

.nav-link a {
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
    color: #343638;
}

input {
    width: 150px;
    padding: 8px;
    border: 1px solid #000;
    background-color: #f3f3f3; }
  
  input::placeholder {
    color: #000; 
}




