/* Your style goes here */
body {
  padding: 0;
}

.players {
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 30px;
  margin: auto;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 30px;
  margin: auto;
}

.button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  background: darkgray;
  cursor: pointer;
}

.table {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: auto;
}

.disabled {
  pointer-events: none;
}

.cell {
  border: 2px solid black;
  cursor: pointer;
}

.zero {
  background-image: url('../img/o.png');
  background-size: cover;
  pointer-events: none;
}

.cross {
  background-image: url('../img/x.png');
  background-size: cover;
  pointer-events: none;
}

.win {
  border-color: red;
}

.draw {
  border-color: darkgoldenrod;
}
