body {
  padding: 0;
  margin: 0 0 5vh;
}

.header {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
}

.main {
  width: 760px;
  display: grid;
  grid-template-rows: 2fr 15fr;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin: 0 auto;
}

.week {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-area: 1 / 1 / 2 / 2;
  gap: 10px;
  padding: 40px 0 10px 0;
}

.date {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-area: 2 / 1 / 3 / 2;
  gap: 10px;
}

.white, .gray {
  padding: 40px 0;
  text-align: center;
}

.white {
  background-color: #ffffff;
}

.gray {
  background-color: lightgrey;
}

.week>.white {
  padding: 0;
  font-weight: bold;
}