body {
    font-family: 'Roboto';
}
.btn-info, .btn-primary {
    background-color: coral;
    border: solid 2px lightcoral;
}
.align-self-center h1 {
    font-size: 55px;
}
.navbar-brand {
    font-size: 40px;
}
.h5 {
    color: #525252;
}

