body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #666666;
  background-color: #f4f4f4;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 10px 0;
}

.h1 {
  font-size: 65px;
  color: #ffffff;
}

.blue {
  color: #76CDD8;
}

.section2 {
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 40px;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: center;
  position: relative;
}

.card:nth-child(odd)::after {
  content: "";
  top: 0px;
  right: 0px;
  border-top: 40px solid skyblue;
  border-left: 40px solid transparent;
  position: absolute;
}
.card:nth-child(even)::after {
  content: "";
  top: 0px;
  left: 0px;
  border-top: 40px solid skyblue;
  border-right: 40px solid transparent;
  position: absolute;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.card1, .card2 {
  flex-basis: 50%;
}

.img1, .scale {
  width: 100%;
  height: 100%;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #76CDD8;
}

.card-inner {
  padding: 50px;
}

.rounded-circle {
  margin-top: 20px;
  height: 300px;
  width: 300px;
  background-image: url("../img/image-04.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.button {
  background-color: #019999;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  margin-top: 15px;
}

.card3 {
  flex-basis: 67%;
}

.card4, .card5 {
  display: flex;
  align-items: stretch;
  flex-basis: 33%;
  justify-content: space-around;
}

.card5-inner {
  border: 1px solid #019999;
  margin-left: 50px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wraper-pricing {
  background-color: #019999;
  padding: 30px;
  color: #ffffff;
}
.feature-list {
  font-size: 18px;
  color: #666666;
  line-height: 2.4;
  font-size: 18px;
  list-style: none;
  text-align: left;
}
.pricing-header-title, .pricing-header-subtitle {
  margin: 0;
  line-height: 1.8;
  font-size: 1.6rem;
}
.card4:hover {
  border: 1px solid #019999;
}
.star {
  color: red;
  line-height: 1.8;
}

.discount {
  color: rgb(118, 205, 216);
}

.copyright-text {
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.8;
}

.button:hover {
  background-color: rgb(118, 205, 216);
}
.scale:hover {
  transform: scale(1.1);
}

.quote:hover {
  color: #76CDD8;
}

q.quote {
  display: block;
  font-style: italic;
  padding-bottom: 20px;
}

.btn-primary {
  display: flex;
  justify-content: flex-end;
}

.btn-secondary {
  display: flex;
  justify-content: center;
}

.form-section {
  position: relative;
}

.form-header {
  background-color: #23D4D4;
  height: 100px;
}

.form-body {
  background-color: #ffffff;
  position: absolute;
  top: 90px;
  left: 10%;
  width: 80%;
}

.form-footer {
  background-color: #019999;
  margin-top: 340px;
  color: #ffffff;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.form-header-text {
  padding: 20px 100px;
  color: #ffffff;
}

.form-inner {
  display: flex;
}

.form-box {
  flex-basis: 50%;
  padding: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.data {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
}

.submit {
  font-size: 18px;
  margin-bottom: 50px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
