body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  margin: 0 2%;
}

.logo {
  flex: 1 1 50%;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

.menu {
  flex: 1 1 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.menu-link {
  color:#363636;
  text-decoration: none;
  font-weight: bold;
  padding:10px;
}

.menu-link:hover {
  color: #0078AA;
}

.header-wrap {
  background: url(/homework/img/lady.jpg) 100% 100% no-repeat;
  background-size: contain;
  height: 500px;
  display: flex;
  align-items: center;
}

.header-inner {
  width: 500px;
}

.header-heading {
  font-size: 32px;
}

.header-text { 
  opacity: 0.5;
}

.btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 25px;
}

.btn-heart {
  background-color: darkcyan;
  margin-right: 20px;
}

.btn-bag {
  background-color: darkcyan;
  margin-right: 20px;
}

.btn-tool {
  background-color: darkcyan;
}

.btn-home {
  background-color: darkcyan;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.desktop {
  padding: 20px 0;
  align-items: center;
}

.desktop-img {
  flex-basis: 50%;
}

.desktop-text {
  flex-basis: 35%;
  padding: 0 20px;
}

.desktop-head {
  margin: 10px 0 0;
}

.text {
  margin-top: 5px;
}

.heding-section {
  font-size: 28px;
  margin: 0;
}

.heading-sub {
  color: #6FB5D6;
  font-weight: 500;
}

.desktop-arrow {
  color: #6FB5D6;
  margin-right: 8px;
}

.help {
  background: url(/homework/img/services_bg.jpg);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading-text {
  margin-top: 5px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  justify-content: center;
}

.card-text-heading {
  margin: 10px 0;
}

.card-text-content{
  margin: 10px 0;
  font-size: 14px;
}

.card {
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.offers {
  text-align: center;
  background: url(/homework/img/pricing_bg.jpg) 100% 100% no-repeat;
  background-size: cover;
  margin: 50px 0;
}

.price-ul {
  list-style-type: none;
  padding-left: 0;
}

.pricing-table {
  justify-content: center;
  align-items: center;
}

.columns {
  background-color:#47C9E5;
  color: white;
}

.columns-second {
  padding: 20px 0;
  border: solid 2px #0078AA;
  color:#0078AA;
  background-color: white;
}

.header-offers {
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0 15px;
}

.price-li {
  font-weight: bold;
  font-size: 48px;
  padding: 15px 0;
}

.count {
  font-size: 20px;
  font-style: italic;
  padding: 10px 0 20px;
}

.columns-li {
  font-weight: 500;
  padding: 15px 0;
}

.button-ofers {
 margin-bottom: 30px;
  color: #0078AA;
  border: solid 2px #0078AA;
  border-radius: 20px;
  padding: 15px 20px;
  background-color: white;
  font-size: 18px;
  font-weight: 800;
}

.meet-img {
  flex-basis: 50%;
}

.meet-img-jpg {
  height: 100%;
  width: 100%;
}

.meet-form {
  flex-basis: 50%;
  padding: 20px;
}

.form-all-input {
  width: 100%;
}

.form-input, #select {
  border: none;
  border-bottom: solid 1px gray;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}  

.btn-submit {
  border-radius: 20px;
  padding: 20px 30px;
  font-size: 16px;
  color: white;
  background-color: #0078AA;
  font-weight: bold;
  border: solid 2px #0396d4;
}

.btn-submit:hover {
  background-color: white;
  color: #0078AA;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #363636;
  color: lightgray;
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .navbar {
    display: flex;
  }

  .header-text { 
    font-size: 19px;
    opacity: 0.5;
  }

  .desktop {
    display: flex;
  }

  .heading-sub {
    font-size: 16px;
  }

  .header-inner {
    margin-left: 160px;
  }

  .pricing-table {
    display: flex;
  }

  .columns, .columns-second {
    width: 320px;
  }

  .meet {
    display: flex;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .menu {
    justify-content: flex-end;
  }

  .navbar {
    display: flex;
  }

  .header-text { 
    font-size: 19px;
    opacity: 0.5;
  }

  .header-wrap {
    background-size: 150%;
    background-position: left;
  }

  .header-inner {
    margin-left: 0;
  }

  .desktop {
    display: flex;
  }

  .heading-sub {
    font-size: 16px;
  }

  .pricing-table {
    padding: 0 2%;
    display: flex;
  } 

  .heding-section {
    font-size: 40px;
  }

  .columns, .columns-second {
    width: 320px;
  }

  .btn-submit {
    margin: 20px 0;
  }

  .desktop-img img {
    width: 100%;
    }

  .text {
    font-size: 12px;
  }

  .meet {
    display: flex;
  }

}

@media screen and (max-width: 767px) {
  .navbar {
    text-align: center;
  }

  .header-inner {
    text-align: center;
  }

  .desktop-text {
    text-align: center;
  }

  .desktop-img img {
    width: 100%;
  }

  .heading-sub {
    font-size: 14px;
    margin-top: 0;
  }

  .meet-form {
    text-align: center;
  }

  .menu-link {
    font-size: 12px;
  }

  .header-heading {
    margin-top: 30px;
  }
}